/* THEME STYlES*/


:root {
    --background-color: #fcf9f4;
    --color: black;
    --accent-color: darkorange;
    --body-padding-top: 30px;
    --body-padding-side: 15%;
    --font: Garamond;
    --sans-font: Helvetica;
    --code-font: Courier; 
} 

body {
    background-color: var(--background-color);
    color: var(--color);
    padding: var(--body-padding-top) var(--body-padding-side) 0px var(--body-padding-side);
    font-family: var(--font);
}    

/* HEADER STYLES */ 
#header-container {
    display: flex;
    align-content: center;
}

#header-laurel-logo-container {
    flex: 1;
    height: auto;
    text-align: left;
} 

#header-laurel-logo {
    width: 70px;
    /* border-width: 2px;
    border-color: black;
    border-style: hidden dashed dashed hidden; */
} 

#header-title-container {
    flex: 8;
    padding: 0px 5px 0px 15px;
}

#header-navigation-container {
    flex: 1;
    line-height: 50%;
}

#header-navigation-icon-container {
    height: 50%;
    margin: 21px;
    /*border: 2px solid black;
    border-radius: 30px;*/
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2px;
}

button {
    background-color: transparent;
    border: 0px;
    transition-property: all;
    transition-duration: 0.75s;
    position: relative;
}

#menu {
    z-index: 2;
}

#hamburger-top.is-active {
    transition-property: all;
    transition-duration: 0.75s;
    transform: rotate(45deg) translate(0px, 22px);
    -moz-transform: rotate(45deg) translate(0px, 22px);
    -webkit-transform: rotate(45deg) translate(0px, 22px);
    transform-origin: 50% 50%;
}

#hamburger-mid.is-active {
    transition-property: all;
    transition-duration: 0.25s;
    opacity: 0;
}

#hamburger-bottom.is-active {
    transition-property: all;
    transition-duration: 0.75s;
    transform: rotate(-45deg) translate(0px, -22px);
    -moz-transform: rotate(-45deg) translate(0px, -22px);
    -webkit-transform:rotate(-45deg) translate(0px, -22px);
    transform-origin: 50% 50%;
}

path.is-inactive {
    transition-property: all;
    transition-duration: 0.75s;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
    opacity: 1;
}

nav {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px 0px 50% 50%;
    overflow: hidden;
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

#nav.is-inactive {
    transition-property: all;
    transition-duration: 0.5s;
    width: 0px;
    height: 0px;
    z-index: -1;
}

#nav.is-active {
    transition-property: all;
    transition-duration: 0.5s;
    width: 90%;
    height: 100%;
    transform-origin: top left;
    z-index: 1;
}

nav > div {
    position: fixed;
    top: 25%;
    right: 30%;
}

nav > div > a {
    position: relative;
    font-weight: bolder;
    font-size: 50px;
}

/*  ARTICLE STYLES */

article {
    height: 100%;
    padding: 0px 90px 0px 90px;
    background-color: var(--background-color);
}

a {
    color: var(--accent-color);
}

.quote {
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-color: #00000040;
    padding: 0px 8px 0px 8px;
    margin: 8px;
    font-style: italic;
}

.code {
    font-family: var(--code-font);
    margin: 10px 10%;
    background-color: #00000010;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 90%;
    color: black;
}

/* MOBILE STYLES */

@media screen and (max-width: 1000px) {
    :root {
        --body-padding-top: 8px;
        --body-padding-side: 8px;
    }

    #header-title-container {
        flex: 5;
    }

    h1 {
        display: none;
    }

    #header-navigation-container {
        height: 70px;
    }

    #header-navigation-icon-container {
        display: flex;
        height: 28px;
        align-items: center;
        flex: 4;
        margin-right: 0px;
    }

    article {
        padding: 0px 8px;
    }
    
}