/* THEME STYlES*/

:root {
    --background-color: #fcf9f4;
    --color: black;
    --accent-color: darkorange;
    --body-padding-top: 30px;
    --body-padding-side: 15%;
    --font: Garamond;
    --sans-font: Helvetica;
    --code-font: Courier; 
} 

body {
    background-color: var(--background-color);
    color: var(--color);
    padding: var(--body-padding-top) var(--body-padding-side) 0px var(--body-padding-side);
    font-family: var(--font);
}    

/* HEADER STYLES */ 
#header-container {
    display: flex;
    align-content: center;
}

#header-laurel-logo-container {
    flex: 1;
    height: auto;
    text-align: left;
} 

#header-laurel-logo {
    width: 70px;
    /* border-width: 2px;
    border-color: black;
    border-style: hidden dashed dashed hidden; */
} 

#header-title-container {
    flex: 8;
    padding: 0px 5px 0px 15px;
}

#header-navigation-container {
    flex: 1;
    line-height: 50%;
}

#header-navigation-icon-container {
    height: 50%;
    margin: 21px;
    /*border: 2px solid black;
    border-radius: 30px;*/
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2px;
}

button {
    background-color: transparent;
    border: 0px;
    transition-property: all;
    transition-duration: 0.75s;
    position: relative;
    cursor: pointer;
}

#menu {
    z-index: 2;
}

#hamburger-top.is-active {
    transition-property: all;
    transition-duration: 0.75s;
    transform: rotate(45deg) translate(0px, 22px);
    -moz-transform: rotate(45deg) translate(0px, 22px);
    -webkit-transform: rotate(45deg) translate(0px, 22px);
    transform-origin: 50% 50%;
}

#hamburger-mid.is-active {
    transition-property: all;
    transition-duration: 0.25s;
    opacity: 0;
}

#hamburger-bottom.is-active {
    transition-property: all;
    transition-duration: 0.75s;
    transform: rotate(-45deg) translate(0px, -22px);
    -moz-transform: rotate(-45deg) translate(0px, -22px);
    -webkit-transform:rotate(-45deg) translate(0px, -22px);
    transform-origin: 50% 50%;
}

path.is-inactive {
    transition-property: all;
    transition-duration: 0.75s;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
    opacity: 1;
}

nav {
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

nav.is-inactive {
    transition-property: all;
    transition-duration: 0.5s;
    border-radius: 0px 0px 50% 50%;
    width: 0px;
    height: 0px;
    z-index: -1;
    transition-delay: 0.25s;
}

nav.is-active {
    transition-property: all;
    transition-duration: 0.5s;
    border-radius: 0px;
    width: 90%;
    height: 100%;
    transform-origin: top left;
    z-index: 1;
}

nav > a {
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1.5px black;
    cursor: pointer;
    font-size: 50px;
}

nav.is-inactive > a {
    position: fixed; 
    top: -40%;
    right: 30%;
    transition: 0.4s cubic-bezier(0, 0.25, 0.75, 1);
    transition-property: all;
    font-weight: bolder;
    font-size: 50px;
}

nav.is-active > a {
    transition-property: all;
    position: fixed;
    top: 25%;
    right: 30%;
    transition: top 0.4s cubic-bezier(0, 0.25, 0.75, 1), color 0.3s linear 0s;
}

nav.is-active > a:hover {
    transition: color 0.3s linear 0s;
    color: black;
    -webkit-text-stroke: 1.5px black;
}

/* Animation on open*/

nav.is-active a:nth-child(1) {
    top: calc(30% + 165px);
}

nav.is-active a:nth-child(2) {
    transition-delay: 0.08s;
    top: calc(30% + 110px);
}
nav.is-active a:nth-child(3) {
    transition-delay: 0.16s;
    top: calc(30% + 55px);
}

nav.is-active a:nth-child(4) {
    transition-delay: 0.24s;
    top: 30%;
}

/* Animation on close */
nav.is-inactive a:nth-child(1) {
    transition-delay: 0.24s;
}

nav.is-inactive a:nth-child(2) {
    transition-delay: 0.16s;
}
nav.is-inactive a:nth-child(3) {
    transition-delay: 0.08s;
}

nav.is-inactive a:nth-child(4) {
    transition-delay: 0s;
}

/*  ARTICLE STYLES */

h2 {
    font-size: 40px;
    font-weight: bolder;
}

h2 > a {
    transition: 0.3s all;
    color: transparent;
    -webkit-text-stroke: 1.5px black;
    cursor: pointer;
}

h2 > a:hover {
    transition: 0.3s all;
    color: black;
    -webkit-text-stroke: 1.5px black;
}

article {
    height: 100%;
    padding: 0px 90px 0px 90px;
    background-color: var(--background-color);
}

a {
    color: var(--accent-color);
}

.quote {
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-color: #00000040;
    padding: 0px 8px 0px 8px;
    margin: 8px;
    font-style: italic;
}

.code {
    font-family: var(--code-font);
    margin: 10px 10%;
    background-color: #00000010;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 90%;
    color: black;
}




/* MOBILE STYLES */

@media screen and (max-width: 1000px) {
    :root {
        --body-padding-top: 8px;
        --body-padding-side: 8px;
    }

    #header-title-container {
        flex: 5;
    }

    h1 {
        display: none;
    }

    #header-navigation-container {
        height: 70px;
    }

    #header-navigation-icon-container {
        display: flex;
        height: 28px;
        align-items: center;
        flex: 4;
        margin-right: 0px;
    }

    nav.is-active {
        width: 100%
    }

    article {
        padding: 0px 8px;
    }
    
}