@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,500;0,600;0,800;1,200;1,300;1,500;1,600;1,800&display=swap");


@font-face {
    font-family: 'Space Mono Regular';
    src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
}


@font-face {
    font-family: 'Helmet';
    src: url('/static/fonts/Helmet-Regular.ttf') format("truetype");
}

/* ========== General Body/Content Wrapper styles ==========*/

body {
    font-family: var(--serif-font);
    background-color: var(--background-color);
    color: var(--color);
    font-weight: 300;
    font-size: 15pt;
}


.mobile-only {
    display: none;
}

#content-wrap {
    padding: 5% 20% 0 20%;
}

#nice-looking-color-div {
    position: fixed; 
    top:0px;
    left:0px;
    background-color: var(--nice-div-color);
    width: 40px;
    height: 100%;
}


#page-wrap {
    margin: 0px 0px 0px 40px;
}

/* ========== Text Element Styles ========== */
/*     e.g. headers, bold text, and links    */

h1, h2, h3, h4, h5 {
    font-family: var(--header-font);
    font-weight: 200;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.2em;
}

h5 {
    text-align: center;
}

strong {
    font-weight: 600;
}


a {
    /*font-variant: small-caps;*/
    font-weight: 400;
    /*text-transform: capitalize;*/
    text-decoration: none;

    color: var(--link-color); 
    border-bottom: 0.1em solid var(--link-background-color);    

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    cursor: pointer;
    border-bottom: 0.1em solid var(--color);
    color: var(--link-underline-color);
}


/*  ========== Page Element Styles ==========  */
/*  E.g. blockquotes, code, preformatted text, */
/*                 and lists.                  */

blockquote {
    font-style: italic;
    background-color: var(--code-background-color);
    padding: 5px 20px;
    border-left: 2px solid var(--border-background-color);
    border-radius: 8px;
}

.blockquote-noitalics {
    font-style: normal;
}

code {
    background-color: var(--code-background-color);
    font-family: var(--mono-font);
    padding: 0.15em;
    border-radius: 0.3em;
    word-wrap: break-word;
}

pre {
    background-color: var(--code-background-color);
    padding: 10px;
    width: fit-content;
    padding-top: 0px;
    max-width: 100%;
}

pre > code {
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
    overflow: scroll;
    max-width: 100%;
    width: fit-content;
}

ul {
    list-style-type: none;
}

li p {
    display: inline;
}

ul > li::before {
    content: "•";
    color: var(--bullet-color);
    display: inline-block;
    width: 0.75em;
    margin-left: -0.5em;
    font-size: 30px;
    line-height: 0;
    position: relative; 
    top: 0.1em;
}

ul > li {
    margin-bottom: 0.5em;
}

ol > li {
    margin-bottom: 0.7em;
}

ol > li::marker {
    color: var(--bullet-color);
}

hr {
    color: var(--bullet-color); 
    border-bottom: 0px;
    width: 50%;
    margin-top: 2em;
}

.center {
    text-align: center;
}

.page-tags {
    font-size: 0.9em;
    text-align: center;
}

.tag {
    font-variant: normal;
    font-weight: 300;
    color: var(--link-color);
    text-decoration: none;
    transition: all 0.3s;
}

.tag:hover {
    color: var(--color);
    transition: all 0.3s;
    cursor: pointer;
}

mjx-container {
    max-width: 100%;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--link-background-color);
}


/* Styling the title bar for pages. */

#page-title {
    color: var(--bullet-color);
}

/* ========== The "back to home" button. ========== */

#home-footer-link {
    font-variant: normal;
    font-weight: 300;

    border: none;    

    color: var(--link-background-color);
    text-decoration: none;
    transition: all 0.3s;
}

#home-footer-link:hover {
    color: var(--link-underline-color);
    text-decoration: none;
    transition: all 0.3s;

    cursor: pointer;
}

/* MOBILE STYLES (at bottom of page in order to override)*/ 
@media only screen and (max-width: 987px) {

    body {
        font-size: 12pt;
    }

    .desktop-only {
        display: none;
    }
    
    .mobile-only {
        display: inherit;
    }

    #content-wrap {
        padding: 5% 8% 0 8%;
    }

    h5 {
        text-align: center;
        margin-bottom: 15px;
    }

    ul > li::before {
        font-size: 18pt;
    }

    .post {
        max-width: calc(100vw - 72px);
        overflow-wrap: break-word;
    }

    blockquote {
        margin: 8px;
    }

    pre {
        overflow: scroll;
        max-width: 100%;

    }
    
    pre > code {
        display: inline-block;
        overflow: scroll;
    }
    code {
        word-wrap: break-word;
    }

    #index-post-link {
        display: none;
    }

}