/* Styles specific to the home page */

.reversed-text {
    display: inline-block;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

.cutout {
    transition: 0.3s all;
    color: transparent;
    background-image: none;
    -webkit-text-stroke: 3px var(--color);
    border: none;
}

.cutout:hover {
    transition: 0.3s all;
    color: var(--color);
    background-image: none;
    border: none;
    -webkit-text-stroke: 3px var(--color);
}

#home-padding-div {
    padding: 20px 50px 10px 50px;
}

.home-lead-h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

#home-lead-logo {
    height: 60px;
    width: 60px;
}

#home-cutout-asterisk {
    position: relative; 
    top: -8px;
}

#home-cutout-asterisk:hover{
    color: var(--link-underline-color);
}

.home-lead-p {
    font-size:30px; 
    line-height: 50px;
}

#home-navigation-links {
    font-size:50px; 
    line-height: 60px; 
    text-align: center;
}


/*
.background-title {
    opacity: .3;
    font-size: 50px;
    user-select: none;
    position: relative;
    top: -90px;
    left: -10px;
    background: linear-gradient(#c3ceda, #0c4160);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/
