/* Styles specific to blog posts */

.post-hr {
    color: var(--hr-color);
}

.post-heading {
    text-align: center; 
    font-size: 40px;
    max-width: 600px; 
    margin-bottom: 10px; 
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-bottom: 30px;
    background-image: linear-gradient(var(--gradient-top), var(--gradient-top), var(--gradient-bottom));
    border-bottom: 2px solid var(--color);
}


