/* Styles specific to blog posts */

.post-hr {
    color: var(--hr-color);
}

.post-heading {
    text-align: center; 
    font-size: 40px;
    max-width: 600px; 
    margin-bottom: 10px; 
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}


header {
    padding: 0px 30px 30px;
    background-image: linear-gradient(var(--gradient-top), var(--gradient-top), var(--gradient-bottom));
    z-index: 1
}

#post-subheading {
    text-align: center;
}

#created {
    font-size: 15px;
    text-align: center;
}

h2 {
    margin-top: 60px;
}



/* Class so that I can embed right-align text in markdown files */

.right-align {
    text-align: right;
}

/* MOBILE ONLY STYLES */

@media only screen and (max-width: 987px) {


}