@keyframes ticker-top {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(-300%)
    }
}

@keyframes ticker-left {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(-400%)
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
        text-shadow: 0 0 2px rgba(0,0,0,0.5);     
    }
    to {
        opacity: 100%;
        text-shadow: 0 0 0px;
    }
}

@keyframes move {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes mov-first {
    from, 40% {
        transform: translateY(3em);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes bob {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(0.125em);
    }

    100% {
        transform: translateY(0px);
    }
}

.fadein {
    opacity: 0%;
    animation: fadein 0.75s linear, move 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.f1 {
    animation: fadein 0.75s linear 0.5s, mov-first 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    animation-fill-mode: forwards;
}

.f2 {
    animation-delay: 2s;
}

.f3 {
    animation-delay: 3s;
}

/*.f4 {

    animation-delay: 2.6s;

}

.f5 {
    animation-delay: 2.7s;
}


.f6 {
    animation-delay: 4s;
}*/

.nofade {
    opacity: 100%;
    animation: none;
}

.bob {
    opacity: 0%;
    animation: fadein 0.75s linear 4s 1, bob 1.5s ease-in-out infinite;
    animation-fill-mode: forwards; 
    color: var(--bullet-color);
}

/*
.scroller {
    overflow: hidden;
    white-space: nowrap;
    position: fixed; 
}

#scroller-top {
    top: 0px;
    width: 100%;
    left: 0px;
}

#scroller-left {
    transform:rotate(-90deg);
    transform-origin:0% 0%;
    top: 100vh;
    width: 100vh;
    left: 0px;
}

.scroller-content {
    animation: ticker-top 50s linear infinite;
    transform: translateX(100%);
    animation-delay: 5s;
    text-transform:uppercase;
    font-family: var(--mono-font);
    font-size: 30pt;
}

#scroller-content-top {
    animation-duration: 40s;
}

#scroller-content-left {
    animation-name: ticker-left;
    animation-duration: 40s
}

.scroller-link {
    color: var(--link-background-color);
}*/



#home-font-size-container {
    font-size: 15pt;
}

#initial {
    height: 100vh;
}

#full {
    padding-bottom: 10vh
}

@media only screen and (max-width: 790px) {

    #home-font-size-container {
        padding-top: 20%;
    }

    @keyframes ticker {
        from {
            transform: translateX(100%)
        }
    
        to {
            transform: translateX(-1000%)
        }
    }

    .scroller-content {
        animation: ticker-top 100s linear infinite;
        animation-delay: 5s;
    }

}