.table-indented {
    padding-left: 2em;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgb(23, 23, 23);
}

.table-number {
    font-weight: 600;
}


.table-of-contents {
    width: 80%;
    margin-left: 10%;
}

@media only screen and (max-width: 987px) {
    .table-indented {
        padding-left: 0em;
    }

    .table-number {
        display:none;
    }
}