<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="{% block previewtext %}{% endblock %}"/>
  <link rel="stylesheet" href="/static/css/base.css" type="text/css">
  <link rel="stylesheet" href="/static/css/colors.css" type="text/css">
  <link rel="shortcut icon" type="image/jpg" sizes="128x128" href="/static/favicon.png">
  {% block head_items %} {% endblock %}
</head>
<body>
  <div id="nice-looking-color-div"></div>
  <div id="page-wrap">
    <div id="content-wrap">
      {% block content %}  {% endblock %}
    </div>
  </div>
</body>