<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/static/page_styles.css" type="text/css">
  <link rel="shortcut icon" type="image/jpg" sizes="128x128" href="/static/favicon.png">
</head>
<body>
    <nav class="desktop-only">
      <div id="space"> </div>
      <div id="navlinks"><div></div><a href='/'> Home </a><a href='/about'> About </a><a href='/identities'> Identities </a><a href='/index'> Index </a></div>
      <form action="{{ url_for('search') }}" method="POST">
        <input type="text" placeholder="search..." name="search"> <button type="submit">Go</button>
      </form>
    </nav>
    <div id="page-wrap">
      <div id="content-wrap">
        {% block content %}  {% endblock %}
      </div>
      <footer>
        <p><span class='reversed-text'>©</span> Logan Graves 2021 (all rights reversed?)</p> 
        <div id="footlinks"><a href='/'>Home</a><a href='/about'>About</a><a href='/identities'>Identities</a><a href='/index'>Index</a> <a href='/rss.xml'>RSS</a></div>
        <br>
        <form action="{{ url_for('search') }}" method="POST">
          <input type="text" placeholder="search..." name="search"> <button type="submit">Go</button>
        </form>
        <br>
        <a rel="me" href="https://fosstodon.org/@lgngrvs"></a>
      </footer>
    </div>
</body>