{% extends "base.html" %}
{% block title %}Logan Graves{% endblock %}
{% block head_items %}<link rel="stylesheet" href="/static/css/home.css" type="text/css">{% endblock %}
{% block content %} 
<!--div class="scroller" id="scroller-top">
    <div class="scroller-content" id="scroller-content-top">
        <a href="commonplace-book" class="scroller-link">
        One keeps forgetting to go down to the foundations. One doesn’t put the question marks deep down enough. (Wittgenstein, <i>Culture and Value</i>, 62c)
        </a>
    </div>

</div>
<div class="scroller" id="scroller-left">
    <div class="scroller-content" id="scroller-content-left">
        <a href="commonplace-book" class="scroller-link">
        It is clear that ethics cannot be expressed. Ethics are transcendental. (Ethics and æsthetics are one.) (Wittgenstein, <i>Tractatus</i>, 6.421) 
        </a>
    </div>
</div-->
<div id="home-font-size-container">
    <br class="desktop-only"><br class="desktop-only"><br class="desktop-only"><br class="desktop-only">
    <p class="fadein f1">Hi! I'm <span class="dark-text">Logan.</span></p>
    <p class="fadein f2"> I'm a student in the <span class="dark-text">Bay Area.</span></p>
    <br>
    <!--ul-->
    <p class="fadein f3">I want to <span class="dark-text">learn everything</span>. I want to contain multitudes.</p>
    <p class="fadein f4">I care a lot about <span class="dark-text">people, knowledge</span> and <a href="aesthetics">love.</a></p>
    <p class="fadein f5">I leave marks on the world in hopes that they'll one day draw a flower.</p>
    <!--/ul-->
    <br>
    <p class="fadein f6">Contact me or read a bio on my <a href="about">about page</a>, or <a href="wander">wander the garden</a>.</p>
    </div>
    <script src="static/js/home.js"></script>
{% endblock %}
