{% extends "base.html" %}
{% block title %}Index • Logan Graves{% endblock %}
{% block content %} 
    <h1>Index</h1>
    <!--blockquote class="blockquote-noitalics">
        <h2> Sitemap </h2>
        <p><b>Blog Pages</b></p>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/index">Index</a> (you are here)</li>

            {% for page in pages %}
            <li><a href="{{ url_for('show_post_slug', slug=page['slug']) }}">{{ page['title'] }}</a></li>
            {% endfor %}
        </ul>

        <p><b>Blog Posts</b></p>
        <ul>
            {% for post in posts %}
            <li><a href="{{ url_for('show_post_slug', slug=post['slug']) }}">{{ post['title'] }}</a></li>
            {% endfor %}

        </ul>
        <p><b>Notable static files:</b></p>
        <ul>
            <li><a href="/static/identities.txt">identities.txt</a></li>
            <li><a href="/static/identities.txt.sig">identities.txt.sig</a></li>
            <li><a href="/static/log.txt">log.txt</a></li>
        </ul>

    </blockquote>
    <h2 class="background-title" style="font-size:30px;">Posts</h2-->

    <br class="desktop-only"><br class="desktop-only">
    {% for post in posts %}
        <div class='post'>
            <h5 class="index-tags">{{ post["timestamp"] }}</p>
            <h2 class="post-title"><a class="post-title-link" href="{{ url_for('show_post_slug', slug=post['slug']) }}">{{ post['title'] }}</a></h2>
            <!--p id="index-post-link"><i>https://logangraves.com{{ url_for('show_post_slug', slug=post['slug']) }}</i></p--> 
            <!--p>{{ post['content'][:100] | safe }}...</strong></i></em></em></code></p-->
            <p>{{ post['description'] | safe }}</p>
            <i><h5>{{ post['tags'] }}</h5></i>
        </div>
        <br>
        <!--hr class="post-hr"-->
    {% endfor %}
    
{% endblock %}
