{% extends "base.html" %}
{% block title %}{{ post["title"] }} • Logan Graves{% endblock %}

{% block previewtext %}
{%if post["description"] != "" %}
  {{ post["description"] | safe }}
{% else %}
  Personal website for Logan Graves, an American high school student.
{% endif %}
{% endblock %}

{% block head_items %} 
  {% set post_image = "static/images/" + post['slug'] + ".webp" %}
  {% if file_exists(post_image) %}
    <meta property="og:image" content="{{ post_image }}"> 
  {% endif %}
{% endblock %}


{% block content %}
  <link rel="stylesheet" href="/static/css/posts.css" type="text/css">
  <article>
    <header>
      <h5 id='created' class="desktop-only">{{ post["date_formatted"] }}</h5>
      <h1 class="post-heading">{{ post["title"] }}</h1>
      <span id="post-subheading"><i>{{ post["description"] | safe }}</i></span>
      <h5> {% if post["tags"] %} {% for tag in post["tags_list"] %} <a class="tag" href="/tag/{{ tag }}">#{{ tag }}</a> {% endfor %} • {% endif %} {{ post["wordcount"] }} words</h5>
    </header>
  {% if "notes" in post["tags"] %}
      <blockquote><i>Posts tagged "notes" represent my current knowledge and may be incorrect or misleading.</i></blockquote>
      <br>
  {% endif %}
  {% set post_image = "static/images/" + post['slug'] + ".webp" %}
  {% if file_exists(post_image) %}
    <img id="post-img" src="static/images/{{ post['slug'] }}.webp">
    <br class="desktop-only">
    <br class="desktop-only">
  {% endif %}
  {{ post["content"] | safe }}
  <br class="mobile-only">
  </article>
  <p style="text-align:center;"><a id="home-footer-link" href="/">Home</a></p>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>
{% endblock %}