{% extends 'base.html' %}
{% block title %}Search results{% endblock %}
{% block content %}
    <h1> Search </h1>
    <p><i>Results for "{{ search }}"</i></p> 
    {% if posts %}
        {% for post in posts %}
            <div class='post'>
                <h2><a href="{{ url_for('show_post_slug', slug=post['slug']) }}">{{ post['title'] }}</a></h2>
                <h5>Tags: {{ post['tags'] }}</h5> 
                <!--p>{{ post['content'] | safe }}</p-->
            </div>
        {% endfor %}
    {% else %}
        <p>Couldn't find anything.</p>
    {% endif %}
{% endblock %}