{% extends "base.html" %}
{% block title %}Tag results{% endblock %}
{% block content %} 
    <h1>Tagged "{{ tag }}"</h1> 
    {% for post in posts %}
    <div class='post'>
        <h2 style="display:inline-block"><a href="{{ url_for('show_post_slug', slug=post['slug']) }}">{{ post['title'] }}</a></h2>
        <br>
        <p id="index-post-link"><i>https://logangraves.com{{ url_for('show_post_slug', slug=post['slug']) }}</i></p> 
        <p>{{ post['content'][:100] | safe }}...</strong></i></em></em></code></p>

    </div>
    <p><a href="{{ url_for('show_post_slug', slug=post['slug']) }}">Read more</a></p>
    <br>
    <hr class="post-hr">
    {% endfor %}
{% endblock %}